venv/
.env

__pycache__/
*.pyc
data/dataset/
data/raw_audio/
data/filters.json
data/transcripts_raw/
models/
*.mp3
*.wav
*.mp4
*.safetensors
*.bin
*.gguf


adapters/

.vscode/
.idea/
.ipynb_checkpoints/
unsloth_compiled_cache/