# Виртуальное окружение и секреты
venv/
.env

# Кэш Python и компиляторов
__pycache__/
*.pyc
unsloth_compiled_cache/

# Скрываем все аудио, транскрипты и сырые данные
data/raw_audio/
data/transcripts_raw/
data/filters.json
data/all_phrases.json
data/downloaded_archive.txt

# Скрываем датасеты (оставляем только .gitkeep)
data/dataset/*.jsonl
data/dataset/*.json

# Скрываем тяжелые веса моделей и адаптеры
models/
adapters/
*.safetensors
*.bin
*.gguf
*.pt
*.mp3
*.wav
*.mp4

# Служебные файлы редакторов
.vscode/
.idea/
.ipynb_checkpoints/